* {
  margin: 0;
  padding: 0;
}

:root {
  --lime-color: #BEF264;
  --lime-button-color: #AFF445;
  --lime-dark-color: #1A2E05;
  --bg-color: #09090B;
  --second-bg-color: #A1A1AA;
  --white-dark-color: #F4F4F5;
  --white-color: #FAFAFA;
  --border-color: #27272A;
}

html, input, select, button, option {
  background-color: #09090b;
  color: #fafafa;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.02em;
  line-height: 120%;
}

  /* mobile code */
  /* form */
#app {
  padding: 40px 20px;
  max-width: 320px;
  margin: auto;
}

input, select, button {
  width: 100%;
}

#place {
  display: flex;
  align-items: center;
  padding: 22px 16px;
  gap: 8px;
  margin-bottom: 30px;
}

input, select {
  all: unset;
}

.fields {
  display: grid;
  gap: 8px;
}

.fieldWrapper {
  padding: 18px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.fieldWrapper:focus-within {
  outline: 2px solid var(--lime-color); 
}

button {
  margin-top: 12px;
  border: none;
  padding: 12px 20px;
  background-color: var(--lime-button-color);
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  color: var(--lime-dark-color);
  cursor: pointer;
}

.card-bg {
  background: #18181B;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.03);
  border-radius: 12px;
}

/* main */

main {
  margin-top: 32px;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}

section {
  display: grid;
  gap: 10px;
}

section input[type="checkbox"] {
  position: absolute;
  inset: 0;
}

section .card-bg {
  position: relative;
  padding: 10px 16px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

section .card-bg:has(:checked) {
  outline: 1px solid var(--lime-color); 
}

section .card-bg:has(:checked) .active,
section .card-bg .inactive {
  display: block; 
}

section .card-bg:has(:checked) .inactive,
section .card-bg .active {
  display: none; 
}

section .card-bg > div {
  display: flex;
  align-items: center;
  gap: 12px;
} 

time {
  font-size: 14px;
  color: var(--second-bg-color);
  text-align: right;
}

time.full {
  display: none;
}